{% extends 'base.html' %}
{% block title %}Product details{% endblock %}

{% block body %}
<section class="bg-white text-black p-5 text-left">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h3 class="my-3">
                        {{ product.name }}                        
                </h3>
                    <p class="lead my-4">                    
                        {{ product.description }}
                    </p>
                        <small>
                        {{ product.details}}
                        </small>
                <div>
                    <br>
                    <h4>Price: €{{ product.price }}
                    <br\>
                    </h4>
                    <br>
                    <h6>Availibility: 
                        {% if product.in_stock %}
                        <span class="text-success">                                        
                        In stock</span>
                        {% else %}
                        <span class="text-danger">Out of stock</span>
                        {% endif %}
                    </h6>
                    <br\>
                </div>
                <button class="btn btn-success btn-lg my-3">Add to cart</button>
            </div>
            <img 
            class="img-fluid; max-width: 100%; height: auto" 
            src="{{ product.image.url }}"
            alt="" />
        </div>
    </div>
</section>
{% endblock body %}