{% extends 'base.html' %}
{% block title %}Product details{% endblock %}

{% block body %}
  <section class="bg-white text-black p-5 text-left">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h3 class="my-3">
            {{ product.name }}
          </h3>
          <p class="lead my-4">
            {{ product.description }}
          </p>
          <small>
            {{ product.details}}
          </small>
          <div>
            <br>
            <h4>Price: €{{ product.price }}
              <br\></h4>
              <br>
              <h6>Availibility:
                {% if product.in_stock %}
                  <span class="text-success">
                    In stock</span>
                {% else %}
                  <span class="text-danger">Out of stock</span>
                {% endif %}
              </h6>
              <br\></div>
              <form action="{% url 'shopping_cart_page:show_cart' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <button type="submit" class="btn btn-success mt-auto">Add to cart</button>
              </form>
            </div>
            {% if product.image %}
              <img class="card-img-top" src="{{ product.image.url }}" alt="">
            {% else %}
              <img class="card-img-top" src="">
            {% endif %}
          </div>
        </div>
      </section>
    {% endblock body %}
