{% extends 'base.html' %}
{% block title %} About RadicalS {% endblock %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'contacts.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="container">
<div class="form" id="contact-form-container">
    <div class="contact-info">
        <span class="circle two" id="rotate-circle"></span>
        <h3 class="title">Let's get in touch</h3><br/>        
        <p class="text">Greetings Explorers,<br/><br/>
            Whether you're seeking information, have questions or simply want to say hello, this is your direct line to our vibrant universe.</p>
        <p class="location"><i class="bi bi-pin-map custom-icon"></i>  RadicalS Headquarter in Tallinn, Estonia:</p>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d109269.80702129143!2d24.726545812094287!3d59.4100267626754!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929499df5616bf%3A0x400b36d18fc6270!2sTallinn%2C%20Estonia!5e0!3m2!1sen!2sfi!4v1705137554721!5m2!1sen!2sfi" width="500" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
        </div>
    </div>
    <div class="contact-form">
        <span class="circle one"></span>
    
        <form id="contact-form" action="{% url 'contact_view' %}" method="post">
            {% csrf_token %}
            <h3 class="title">Contact Us</h3>
            
            <div class="input-container ">
                <input type="text" name="name" class="input">
                <label for="name">Name</label>
                <span>Name</span>
                {% if form.name.errors %}
                    <p class="error">{{ form.name.errors.0 }}</p>
                {% endif %}
            </div>
            
            <div class="input-container">
                <input type="text" name="email" class="input">
                <label for="email">Email</label>
                <span>Email</span>
                {% if form.email.errors %}
                    <p class="error">{{ form.email.errors.0 }}</p>
                {% endif %}
            </div>
            
            <div class="input-container">
                <input type="tel" name="phone" class="input">
                <label for="phone">Phone</label>
                <span>Phone</span>
                {% if form.phone.errors %}
                    <p class="error">{{ form.phone.errors.0 }}</p>
                {% endif %}
            </div>
            
            <div class="input-container textarea">
                <textarea type="message" name="message" class="input"></textarea>
                <label for="message">Message</label>
                <span>Message</span>
                {% if form.message.errors %}
                    <p class="error">{{ form.message.errors.0 }}</p>
                {% endif %}
            </div>
            
            <input type="submit" value="Send" class="btn custom-btn" />
            
            <div id="envelope-container">
                <img id="open-envelope" src="https://cdn.pixabay.com/photo/2012/04/15/21/36/envelope-35394_1280.png" alt="Open Envelope">
                <img id="closed-envelope" src="https://cdn.pixabay.com/photo/2012/04/15/21/36/envelope-35393_1280.png" alt="Closed Envelope">
            </div>
        </form>
    </div>
</div>
<script>
    const rotateCircle = document.getElementById('rotate-circle');

    document.addEventListener('mousemove', function (e) {
        let rotateX = (window.innerWidth - e.pageX) / 10;
        let rotateY = (window.innerHeight - e.pageY) / 10;
        rotateCircle.style.transform = `rotateX(${rotateY}deg) rotateY(${rotateX}deg)`;
    });
</script>
<script>
    const inputs = document.querySelectorAll(".input");

    function focusFunc() {
        let parent = this.parentNode;
        parent.classList.add("focus")
    }

    function blurFunc() {
        let parent = this.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }

    inputs.forEach((input) => {
        input.addEventListener("focus", focusFunc);
        input.addEventListener("blur", blurFunc);
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const contactForm = document.getElementById('contact-form');
        const envelopeContainer = document.getElementById('envelope-container');
        const openEnvelope = document.getElementById('open-envelope');
        const closedEnvelope = document.getElementById('closed-envelope');

        contactForm.addEventListener('submit', function (e) {
            e.preventDefault();

            // Show the envelope container
            envelopeContainer.style.display = 'block';
            closedEnvelope.style.display = 'none';

            // Change envelope image after 1 second
            setTimeout(function () {
                openEnvelope.style.display = 'none';
                closedEnvelope.style.display = 'block';
            }, 1000);

            // Navigate to contact_view after 2 seconds
            setTimeout(function () {
                contactForm.submit();
            }, 2000);
        });
    });
</script>
{% endblock %}