{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block body %}
  <style>
    .text-link {
      text-decoration: none;
      color: inherit;
      font-weight: normal;
    }

    .text-link:hover {
      color: rgb(0, 119, 255);
    }

    #message-container {
      position: fixed;
      top: 5;
      /* Display the container at the top of the page */
      width: 50%;
      /* Take up the full width of the page */
      z-index: 20000;
      /* Set a higher z-index to ensure the messages will be displayed above other content */
    }
  </style>
  <div id="message-container">
    {% for message in messages %}
      <div class="offset-6 py-4 text-center container mt-5">
        <div class="alert alert-light" role="alert">
          <a href="{% url 'shopping_cart_page:show_cart' %}" class="text-link">{{ message }}. Go to
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewbox="0 0 14 22">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
          </a>

        </div>

      </div>
    {% endfor %}
  </div>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in products %}
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <a href="{% url 'front_office.pdp_page' product.id %}" style="color: rgb(53, 52, 52); text-decoration: none;">
                {% if product.image %}
                  <img class="card-img-top" src="{{ product.image.url }}" alt="">
                {% else %}
                  <img class="card-img-top" src="">
                {% endif %}
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">
                      {{ product.name }}
                    </h5>
                  </a>
                  <!-- Product brand-->
                  Manufacturer:
                  {{ product.brand }}<br>
                  <h7>Availibility:
                    {% if product.in_stock %}
                      <span class="text-success">
                        In stock</span>
                    {% else %}
                      <span class="text-danger">Out of stock</span>
                    {% endif %}
                  </h7><br><br>
                  <!-- Product price-->
                  <h5>Price: €{{ product.price }}</h5>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <form action="{% url 'shopping_cart_page:show_cart' %}" method="POST">
                    {% csrf_token %}
                    {% if product.in_stock %}
                      <input type="hidden" name="product_id" value="{{ product.id }}">
                      <button type="submit" class="btn btn-success mt-auto">Add to cart</button>
                    {% else %}
                      <input type="hidden" name="product_id" value="{{ product.id }}">
                      <button type="submit" class="btn btn-secondary mt-auto" disabled="disabled">Add to cart</button>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% if not products %}
    <div class="offset-2 py-5 text-center container">
      <div class="row py-lg-5 col-lg-10">
        <h1 class="fw-light">No products<br>
          Please check back later
        </h1>

        <div class="offset-5 col-lg-2 col-md-5 row py-lg-1 mt-3">
          <a href="{% url 'home_page:home' %}" class="btn btn-secondary mt-auto" role="button">Home</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock body %}
