.sidebar {
	height: 100vh;
	width: 145px;

	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
	padding-top: 20px;
	color: #fff;
	z-index: 1000;
}

.sidebar-item {
	padding: 10px 15px;
	color: #fff;
	text-align: center;
}

.sidebar-item:hover {
	background-color: #5555557e;
	cursor: pointer;
}

.content {
	margin-left: 145px;
	padding: 20px;
	padding-left: 15px;
	padding-top: 15px;
}
