.table {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 50%;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

thead th {
	background-color: #f2f2f2;
	border-bottom: 2px solid #ddd;
	padding: 8px;
	text-align: left;
}

tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

tbody td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

.text-link {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}

.text-link:hover {
	color: rgb(0, 119, 255);
}
