{% load static %}
<link rel="stylesheet" href="{% static 'back_nav.css' %}">
<div class="container">
  <div class="d-flex" id="wrapper">
    <div class="bg-dark sidebar">
      <ul class="list-unstyled">
        <li class="sidebar-item">
          <a class="nav-link" href="{% url "customers" %}">Customers</a>
        </li>
        <li class="sidebar-item">
          <a class="nav-link" href="#">Invoices</a>
        </li>
        <li class="sidebar-item">
          <a class="nav-link" href="{% url "orders" %}">Orders</a>
        </li>
        <li class="sidebar-item">
          <a class="nav-link" href="{% url 'backoffice_products' %}">Products</a>
        </li>
        <li class="sidebar-item">
          <a class="nav-link" href="#">Sales</a>
        </li>
        <li class="sidebar-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
