{% extends 'back_base.html' %}
{% block title %} RadicalS | {{ product.name }} {% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'backoffice_products.css' %}">
<section>
    <div class="content">
        <section class="bg-white text-black p-5 text-left">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div style="max-width: 700px;">
                        <h3 class="my-3">
                            {{ product.name }}
                        </h3>
                        <p class="lead my-4">                    
                            {{ product.description }}
                        </p>
                        <small>
                            {{ product.details}}
                        </small>
                        <div>
                            <br>
                            <h4>Price: €{{ product.price }}
                            <br\>
                            </h4>
                            <br>
                            <h6>Availibility: 
                                {% if product.in_stock %}
                                <span class="text-success">                                        
                                In stock</span>
                                {% else %}
                                <span class="text-danger">Out of stock</span>
                                {% endif %}
                            </h6>
                            <br\>
                        </div>                    
                    </div>
                    {% if product.image %}
                    <img class="img-fluid" src="{{ product.image.url }}" alt="">
                    {% else %}
                    <img class="img-fluid" src="{{ STATIC_URL }}/img/no-image.png" alt="">
                    {% endif %}
                </div>
                <a type="onclick" class="btn btn-primary mt-5" href="{% url 'backoffice_products' %}">Back to Products</a>
            </div>
        </section>
    </div>
</section>
{% endblock %}